/************************* ESTILOS GENERALES ************************/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.card {
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

/************************* ESTILOS BARRA DE NAVEGACIÓN ************************/

#nav-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 10px;
    box-shadow: .5px .5px .5px .5px #000;
    background-color: rgb(235, 235, 235);
}

#img-logo {
    width: 40px;
    height: auto;
}

#navigation-bar {
    list-style-type: none;
    display: flex;
}

#navigation-bar li {
    margin-right: 60px;
}


#navigation-bar li a {
    text-decoration: none;
    color: black;
    transition: all 0.1s;
}

#navigation-bar li a:hover {
    font-weight: bold;
    color: rgb(36, 49, 187);
    text-decoration: overline;
}

#columna2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/************************* ESTILOS SECCIÓN 1 ************************/

#section-container-1 {
    margin-bottom: 25px;
}

#section-container-1 img {
    width: 200px;
    height: auto;
}

#columns-container {
    margin-top: 25px;
    margin-bottom: 30px;
}

#columns-container h2 {
    color: rgb(36, 49, 187);
}

#fila {
    display: flex;
    text-align: justify;
}

#imagen1 {
    margin-left: 40px;
}

#imagen2 {
    margin-right: 40px;
}

#general-container {
    margin-top: 25px;
    border: .5px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#contact-img-container img {
    width: 30px;
    height: auto;
    margin: 5px;
}

#inputs-container {
    display: flex;
}

#inputs {
    margin: 2%;
    display: flex;
    flex-direction: column;
    width: 30%;
}

#comments {
    margin: 2%;
    width: 70%;
}

#button-container {
    margin: 2%;
    display: flex;
}

#button-container button {
    display: flex;
    margin-left: auto;
}


/************************* ESTILOS PARA RESPONSIVIDAD ************************/


@media only screen and (max-width: 426px) {
    #inputs-container {
        flex-direction: column;
        align-items: center;
        margin: 5%;
    }

    #inputs {
        width: 100%;
    }

    #comments {
        width: 100%;
    }

    #button-container {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #button-container button {
        margin: auto;
    }

    #fila {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;
        margin-bottom: 15px;
    }

    #fila img {
        width: 120px;
        height: auto;
    }

    #imagen1 {
        margin-left: 0px;
    }

    #imagen2 {
        margin-right: 0px;
    }
}